.product-item{
    width: 500px;
    height: 50px;
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
    color: black;
}

.product-item div{
    font-size: 20px;
    font-weight: bold;
}

.product-item span {
    font-size: 16px;
    margin-right: 30px;
}

