.SearchBar{
    display: flex;
    justify-content: space-between;
    align-items: center
}

.search{
    width: 500px;
    height: 25px;
    padding: 5px;
    border: none;
    border-radius: 10px 0 0 10px;
}

.checked{
    width: 30px;
    height: 35px;
}

.SearchBar label{
    color: black;
    font-size: 16px;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
}